﻿@using Oneness.ViewModel.EntityViewModels.QuizViewModels;
@using Oneness.Localization.Resources;
@using Shared.Extensions.Core;
@using GridMvc.Html;

@model IEnumerable<SentenceViewModel>

@{
    ViewBag.Title = "Sentences Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var nullDiff = "sentence-0";
}

@Html.Partial("SentenceForm", new SentenceViewModel())

<div class="page-header col-lg-10 col-lg-offset-1">
    <h2>@Html.Raw("CurrentSentences".Translate())</h2>
    <button type="button" class="btn btn-sm pull-right" aria-label="Right Align" onclick="return ShowForm('@nullDiff');">
        @Html.Raw("AddNewSentence".Translate())
        <span class="glyphicon glyphicon-align-right glyphicon-star" aria-hidden="true"></span>
    </button>
</div>

<div class="well-lg col-lg-10 col-lg-offset-1">
    <div id="warning-sentence-delete" class="alert pull-left" role="alert">

    </div>
    @Html.Grid(Model).Columns(columns => {
    columns.Add(item => item.ID).Titled("LanguageGridIDColumnTitle".Translate())
        .SetWidth(90).Sortable(true);
    columns.Add(item => item.Text)
        .Titled("SentenceTextTitle".Translate())
        .Sortable(true)
        .SetWidth(610);
    columns.Add()
        .Titled("AvailableCommands".Translate())
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(vm => @Html.Partial("AvailableSentenceCommands", vm));

}).WithPaging(20).Named("SentencesGrid")
</div>
