﻿@using Oneness.ViewModel.EntityViewModels.QuizViewModels;
@using Oneness.Localization.Resources;
@using Shared.Extensions.Core;


@model ManifestViewModel

@{
    var submit = "SaveChanges".Translate();
    var diff = "manifest-{0}".PostFormat(Model.ID);
}

@Html.Partial("ManifestForm", Model, new ViewDataDictionary() { { "CurrentManifestID", Model.ID } })

<script type="text/javascript">
    function onManifestDeleteSuccess(data) {
        window.location.href = document.location.href;
    }
    function onManifestDeleteFailure(data) {
        $('#warning-manifest-delete').removeClass('alert-*').addClass('alert-danger');
        $('#warning-manifest-delete').html(data.statusText);
    }
</script>

<div class="row">
    @Ajax.ActionLink("DeleteItemEntry".Translate(), "Delete", "Manifest"
            , new { ManifestIDToBeDeleted = Model.ID }
            , new AjaxOptions() { Confirm = "ManifestWillBeDeleted".Translate(), HttpMethod = "POST", OnSuccess = "onManifestDeleteSuccess", OnFailure = "onManifestDeleteFailure" })

    @Html.Raw("|")
    <a href="#" onclick="return ShowForm('@diff');">@Html.Raw("EditItemEntry".Translate())</a>
</div>
