﻿@using Oneness.MVC.Areas.Residence.Models
@model IEnumerable<ActivityContainer>

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Activities</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="#">Config option 1</a>
                </li>
                <li>
                    <a href="#">Config option 2</a>
                </li>
            </ul>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <div>
            @foreach (var activity in Model) {

            if (@activity.NewFollower != null) {
            <div class="feed-element">
                <a href="#" class="pull-left">
                    <img alt="image" class="img-circle" src="@activity.NewFollower.Subject.AssociatedProfile.Avatar.Base64">
                </a>
                <div class="media-body ">
                    <small class="pull-right text-navy">@activity.NewFollower.ActedPastAgo</small>
                    <strong>@activity.NewFollower.Subject.AssociatedProfile.Identity</strong> started following <strong>@activity.NewFollower.Leader.AssociatedProfile.Identity</strong>. <br>
                    <small class="text-muted">@activity.NewFollower.ActedDay @activity.NewFollower.ActedOn</small>
                    <div class="actions">
                        <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                        <a class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> Love</a>
                    </div>
                </div>
            </div>
            }
            if (@activity.NewFollowing != null) {
            <div class="feed-element">
                <a href="#" class="pull-left">
                    <img alt="image" class="img-circle" src="@activity.NewFollowing.Subject.AssociatedProfile.Avatar.Base64">
                </a>
                <div class="media-body ">
                    <small class="pull-right text-navy">@activity.NewFollowing.ActedPastAgo</small>
                    <strong>@activity.NewFollowing.Subject.AssociatedProfile.Identity</strong> is being followed by <strong>@activity.NewFollowing.Leader.AssociatedProfile.Identity</strong>. <br>
                    <small class="text-muted">@activity.NewFollowing.ActedDay @activity.NewFollowing.ActedOn</small>
                    <div class="actions">
                        <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                        <a class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> Love</a>
                    </div>
                </div>
            </div>
            }
            if (@activity.NewMessage != null) {
            <div class="feed-element">
                <a href="#" class="pull-left">
                    <img alt="image" class="img-circle" src="@activity.NewMessage.Subject.AssociatedProfile.Avatar.Base64">
                </a>
                <div class="media-body ">
                    <small class="pull-right text-navy">@activity.NewMessage.ActedPastAgo</small>
                    <strong>@activity.NewMessage.Subject.AssociatedProfile.Identity</strong> posted a new message. <br>
                    <small class="text-muted">@activity.NewMessage.ActedDay @activity.NewMessage.ActedOn</small>
                    <div class="well">
                        @activity.NewMessage.MessageTextTrimmed
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                        <a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> Love</a>
                        <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
                    </div>
                </div>
            </div>
            }
            if (@activity.NewPost != null) {
            <div class="feed-element">
                <a href="#" class="pull-left">
                    <img alt="image" class="img-circle" src="@activity.NewPost.Subject.AssociatedProfile.Avatar.Base64">
                </a>
                <div class="media-body ">
                    <small class="pull-right text-navy">@activity.NewPost.ActedPastAgo</small>
                    <strong>@activity.NewPost.Subject.AssociatedProfile.Identity</strong> blogged a new post. <br>
                    <small class="text-muted">@activity.NewPost.ActedDay @activity.NewPost.ActedOn</small>
                    <div class="well">
                        @activity.NewPost.BlogTextTrimmed
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                        <a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> Love</a>
                        <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
                    </div>
                </div>
            </div>
            }
            if (@activity.NewPhoto != null) {
            <div class="feed-element">
                <a href="#" class="pull-left">
                    <img alt="image" class="img-circle" src="@activity.NewPhoto.Subject.AssociatedProfile.Avatar.Base64">
                </a>
                <div class="media-body ">
                    <small class="pull-right text-navy">@activity.NewPhoto.ActedPastAgo</small>
                    <strong>@activity.NewPhoto.Subject.AssociatedProfile.Identity</strong> posted a new photo. <br>
                    <small class="text-muted">@activity.NewPhoto.ActedDay @activity.NewPhoto.ActedOn</small>
                    <div class="photos">
                        @foreach (var photo in activity.NewPhoto.PhotoItems) {
                    <img alt="image" class="feed-photo" src="@photo.Base64">
                            }
                    </div>
                </div>
            </div>
            }
        }
        </div>
    </div>
</div>