﻿@using Oneness.MVC.Areas.Atrium.Models
@using Oneness.MVC.Areas.Residence.Models
@model LoginModel

@{
    ViewBag.Title = "ONENESS | Profile Details";
    Layout = "~/Areas/Residence/Views/Shared/_ResidenceLayoutPage.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Profile</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index-2.html">Home</a>
            </li>
            <li>
                <a>Extra Pages</a>
            </li>
            <li class="active">
                <strong>Profile</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Your Contact: @Model.AssociatedProfile.Identity</h5>
                </div>
                <div>
                    <div class="ibox-content no-padding border-left-right">
                        <img alt="image" class="img-responsive" src="@Model.AssociatedProfile.Avatar.Base64" style="height: 128px; width: 128px;">
                    </div>
                    <div class="ibox-content profile-content">
                        <h4><strong>@Model.AssociatedProfile.Identity</strong></h4>
                        <p><i class="fa fa-map-marker"></i> @Model.AssociatedProfile.Address</p>
                        <h5>
                            About me
                        </h5>
                        <p>
                            @Model.AssociatedProfile.AboutMe
                        </p>
                        <div class="row m-t-lg">
                            <div class="col-md-4">
                                @*<span class="bar">@Model.PostActivityChartData</span>*@
                                <span class="bar">5, 3, 9, 6, 5, 9, 7, 3, 5, 2</span>
                                <h5><strong>@Model.AssociatedProfile.PostCount</strong> Posts</h5>
                            </div>
                            <div class="col-md-4">
                                @*<span class="line">@Model.FollowingActivityChartData</span>*@
                                <span class="line">5, 3, 9, 6, 5, 9, 7, 3, 5, 2</span>
                                <h5><strong>@Model.AssociatedProfile.FollowingCount</strong> Following</h5>
                            </div>
                            <div class="col-md-4">
                                @*<span class="bar">@Model.FollowerActivityChartData</span>*@
                                <span class="bar">5, 3, 2, -1, -3, -2, 2, 3, 5, 2</span>
                                <h5><strong>@Model.AssociatedProfile.FollowerCount</strong> Followers</h5>
                            </div>
                        </div>
                        <div class="user-button">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> Buy a coffee</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            @using (Ajax.BeginForm("activities", "profile", new { id = Model.AssociatedProfile.ID }
                    , new AjaxOptions() {
                        HttpMethod = "POST", UpdateTargetId = "activities-container", InsertionMode = InsertionMode.InsertAfter
                    })) {
                <div class="feed-activity-list" id="activities-container">
                    @Html.Partial("_Activities", SResidenceProvider.ActivitiesOfProfile(Model.AssociatedProfile.ID))
                </div>

                    <button type="submit" class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Show More</button>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/residence/ajax")
}

