﻿
@font-face {
	font-family: 'PTSansCaption';
	src: url('PTC55F_W.eot');
	src:
	     url('fonts/PTC55F_W.eot?#iefix') format('embedded-opentype'),
	     url('fonts/PTC55F_W.woff') format('woff'),
	     url('fonts/PTC55F_W.ttf') format('truetype'),
	     url('fonts/PTC55F_W.svg#PTSans-Caption') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'PT Sans', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/******************************Spinner**************************/
.spinning-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../Images/spinner.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

    /* Anytime the body has the loading class, our
   modal element will be visible */
    body.loading .spinning-modal {
        display: block;
    }

/*****************************************end spinner****************/

/*******************************bootstrap mods************************/
/*.modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #0480be;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}*/
/***************************end bootstrap mods************************/

.lampic-text-primary-glow {
    text-shadow: 0px 0px 7px #0094ff
}
